{#
 * This file is part of the Recommend Product plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}
{#
[コンテンツ]-[おすすめ商品]-[一覧・検索]画面
#}

{% extends 'default_frame.twig' %}

{% set menus = ['content', 'admin_recommend'] %}

{% block title %}おすすめ商品管理{% endblock %}
{% block sub_title %}おすすめ商品内容設定{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        .item_list .item_box .item_photo {
            padding-left: 0px;
        }
        .sortable_list .icon_sortable {
            top: auto;
            position: relative;
            margin: auto;
            vertical-align: middle;
        }
        .table_list tr > th, .table_list tr > td {
             border-left: none;
        }
        .ui-sortable-helper {
            display: table;
        }
    </style>

{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var oldRanks = [];
            // 画面の中のrank一覧を保持
            $("div.item_list .item_box").each(function() {
                oldRanks.push(this.dataset.rank);
            });
            // reverse sort
            oldRanks.sort(function(a,b){return a - b;}).reverse();

            $("div.item_list").sortable({
                items: '.item_box',
                cursor: 'move',
                update: function(e, ui) {
                    $("body").append($('<div class="modal-backdrop in"></div>'));
                    updateRank();
                }
            });

            var updateRank = function() {
                // 並び替え後にrankを更新
                var newRanks = {};
                var i = 0;
                $("div.item_list .item_box").each(function() {
                    newRanks[this.dataset.recommendId] = oldRanks[i];
                    i++;
                });
                $.ajax({
                    url: '{{ url('admin_recommend_rank_move') }}',
                    type: 'POST',
                    data: newRanks
                }).done(function(data) {
                    $(".modal-backdrop").remove();
                }).fail(function(data) {
                    alert('Error!!');
                    $(".modal-backdrop").remove();
                });
            };
        })
    </script>
{% endblock javascript %}

{% block main %}
<form name="search_form" id="search_form" method="post" action="">
    <div class="row">
        <div class="col-md-12">
            <div id="sortable_list" class="box">
                <div class="box-header with-arrow">
                    <h3 class="box-title"><span class="normal"><strong>{{ total_item_count }} 件</strong> が該当しました</span></h3>
                </div><!-- /.box-header -->

                {% if pagination %}
                <div id="sortable_list_box" class="box-body no-padding no-border">
                    <div class="sortable_list">
                        <div class="item_list">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <colgroup>
                                        <col width="2%">
                                        <col>
                                        <col width="10%">
                                        <col>
                                        <col width="5%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>商品画像</th>
                                            <th>商品名</th>
                                            <th>説明文</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for RecommendProduct in pagination %}
                                    <tr class="item_box tr" data-rank="{{ RecommendProduct.rank }}" data-recommend-id="{{ RecommendProduct.id }}">
                                            <td class="icon_sortable td">
                                                <svg class="cb cb-ellipsis-v"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cb-ellipsis-v"></use></svg>
                                            </td>
                                        <td id="product_image" class="item_photo td">

                                            <a href="{{ url('admin_recommend_edit', { id : RecommendProduct.id }) }}" >
                                                <img src="{{ app.config.image_save_urlpath }}/{{ RecommendProduct.Product.mainFileName|no_image_product }}"/>
                                            </a>
                                        </td>
                                        <td class="product_name">
                                            <a href="{{ url('admin_recommend_edit', { id : RecommendProduct.id }) }}" >
                                                {{ RecommendProduct.Product.name }}
                                                <br>
                                                {{ RecommendProduct.Product.code_min }}
                                                {% if RecommendProduct.Product.code_min != RecommendProduct.Product.code_max %} ～ {{ RecommendProduct.Product.code_max }}
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td class="comment">{{ RecommendProduct.comment|raw|nl2br }}</td>
                                        <td class="icon_edit">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" data-toggle="dropdown"><svg class="cb cb-ellipsis-h"> <use xlink:href="#cb-ellipsis-h" /></svg></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="{{ url('admin_recommend_edit', { id : RecommendProduct.id }) }}" >編集</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ url('admin_recommend_delete', {'id' : RecommendProduct.id}) }}" {{ csrf_token_for_anchor() }} data-method="delete" data-message="{{ 'admin.plugin.recommend.delete.confirm'|trans }}">削除</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                   </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                {% endif %}
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
        <a href="{{ url('admin_recommend_new') }}" class="btn btn-primary btn-block btn-lg">おすすめ商品を新規登録</a>
    </div>
</div>
</form>
{% endblock %}
