{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% macro tree(Category, isParent) %}
    {% set isParent = isParent|default('') %}
    {% set hasChild = false %}
    {% if Category.children|length > 0 %}
        {% set hasChild = true %}
    {% endif %}

    <li class="{% if isParent %}parent{% elseif hasChild %}pullLink{% endif %}">
        <a class="{% if isParent %}parent_a{% elseif hasChild %}parent_b{% endif %}" href="{{ url('product_list') }}?category_id={{ Category.id }}">
            {{ Category.name }}
        </a>
        {% if Category.children|length > 0 %}
            <ul class="{% if isParent %}pulldownmenu{% elseif hasChild %}pullBox{% endif %}">
            {% for ChildCategory in Category.children %}
                    {{ _self.tree(ChildCategory) }}
            {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<nav id="gNavi" class="visiblePC">
    <ul class="clearfix">
    {% for Category in Categories[0:6] %}
        {{ _self.tree(Category, true) }}
    {% endfor %}
    </ul> <!-- category-nav -->
</nav>

<div class="naviSp visibleTS">
    <ul class="naviList clearfix">
        <li class="navbarToggle hlg01" data-target=".navbarCollapse"><span class="txt01">カテゴリ</span></li>
        <li class="hlg01"><a href="#"><span class="txt02"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/menu_favor.png" alt=""></span><span class="txt03">お気に入り</span></a></li>
        <li class="hlg01"><a href="#"><span class="txt02"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/menu_cart.png" alt=""></span><span class="txt03">カート</span></a></li>
        <li class="hlg01"><a href="#"><span class="txt02"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/menu_order.png" alt=""></span><span class="txt03">ご注文履歴</span></a></li>
        <li class="navInst hlg01" data-target=".customBox"><span class="txt01">カスタマイズ</span></li>
    </ul>

    {% macro treeTS(Category, isParent) %}
        {% set isParent = isParent|default('') %}
        {% set hasChild = false %}
        {% set isSub = false %}
        {% if Category.children|length > 0 %}
            {% set hasChild = true %}
            {% if Category.level == 2 %}
                {% set isSub = true %}
            {% endif %}
        {% endif %}
        <p class="{% if isParent %}navbarTit{% else %}navbarTxt{% endif %}{% if isSub %} navpullDown{% endif %}{% if hasChild %} hasChild{% endif %}">
            {% if hasChild  %}
                {{ Category.name }}
            {% else %}
                <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a>
            {% endif %}
        </p>
            {% if Category.children|length > 0 %}
                <div class="{% if isParent %}navbarBox{% else %}navbarLink{% endif %}{% if hasChild %} hasChild{% endif %}">
                    {% for ChildCategory in Category.children %}
                        {{ _self.treeTS(ChildCategory) }}
                    {% endfor %}
                </div>
            {% endif %}
    {% endmacro %}

    <nav class="navbarCollapse">
        <div class="navbarPanel">
            {% for Category in Categories %}
                {{ _self.treeTS(Category, true) }}
            {% endfor %}
        </div>
    </nav>

    <div class="customBox">
        <div class="customIn">
            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            {% set currentPage = currentPath|split('/')|last %}
            {% if currentPage == url('homepage_b')|split('/')|last %}
                {% set active = 'index-b' %}
            {% elseif currentPage == url('homepage_c')|split('/')|last %}
                {% set active = 'index-c' %}
            {% else %}
                {% set active = 'index-a' %}
            {% endif %}
            <ul class="customList">
                <li>
                    <p class="customTit">Type A</p>
                    <p class="customImg"><a href="{{ url('homepage') }}" {% if active == 'index-a' %}class="active"{% endif %}><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/img_type_a_sp.png" alt=""></a></p>
                </li>
                <li>
                    <p class="customTit">Type B</p>
                    <p class="customImg"><a href="{{ url('homepage_b') }}" {% if active == 'index-b' %}class="active"{% endif %}><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/img_type_b_sp.png" alt=""></a></p>
                </li>
                <li>
                    <p class="customTit">Type C</p>
                    <p class="customImg"><a href="{{ url('homepage_c') }}" {% if active == 'index-c' %}class="active"{% endif %}><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/img_type_c_sp.png" alt=""></a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
