{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% macro tree(Category, isParent) %}
    {% set isParent =  %}
    <li class="parent">
        <a class="parent_a" href="{{ url('product_list') }}?category_id={{ Category.id }}">
            {{ Category.name }}
        </a>
        {% if Category.children|length > 0 %}
            <ul class="pulldownmenu">
            {% for ChildCategory in Category.children %}
                    {{ _self.tree(ChildCategory) }}
            {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<nav id="gNavi" class="visiblePC">
    <ul class="clearfix">
    {% for Category in Categories %}
        {{ _self.tree(Category, true) }}
    {% endfor %}
    </ul> <!-- category-nav -->
</nav>

<nav id="gNavi" class="visiblePC">
    <ul class="clearfix">
        <li class="parent"><a href="#" class="parent_a">用度品・備品</a>
            <ul class="pulldownmenu">
                <li><a href="#">店内備品</a></li>
                <li class="pullLink"><a href="#" class="parent_b">包装</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li class="pullLink"><a href="#" class="parent_b">販促物</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li><a href="#">制服</a></li>
                <li><a href="#">電化製品</a></li>
            </ul>
        </li>
        <li class="parent"><a href="#" class="parent_a">調剤備品</a>
            <ul class="pulldownmenu">
                <li><a href="#">店内備品</a></li>
                <li class="pullLink"><a href="#" class="parent_b">包装</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li class="pullLink"><a href="#" class="parent_b">販促物</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li><a href="#">制服</a></li>
                <li><a href="#">電化製品</a></li>
            </ul>
        </li>
        <li class="parent"><a href="#" class="parent_a">ポリ袋</a>
            <ul class="pulldownmenu">
                <li><a href="#">店内備品</a></li>
                <li class="pullLink"><a href="#" class="parent_b">包装</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li class="pullLink"><a href="#" class="parent_b">販促物</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li><a href="#">制服</a></li>
                <li><a href="#">電化製品</a></li>
            </ul>
        </li>
        <li class="parent"><a href="#" class="parent_a">縫製品</a>
            <ul class="pulldownmenu">
                <li><a href="#">店内備品</a></li>
                <li class="pullLink"><a href="#" class="parent_b">包装</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li class="pullLink"><a href="#" class="parent_b">販促物</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li><a href="#">制服</a></li>
                <li><a href="#">電化製品</a></li>
            </ul>
        </li>
        <li class="parent"><a href="#" class="parent_a">紙袋</a>
            <ul class="pulldownmenu">
                <li><a href="#">店内備品</a></li>
                <li class="pullLink"><a href="#" class="parent_b">包装</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li class="pullLink"><a href="#" class="parent_b">販促物</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li><a href="#">制服</a></li>
                <li><a href="#">電化製品</a></li>
            </ul>
        </li>
        <li class="parent"><a href="#" class="parent_a">オーダー商品</a>
            <ul class="pulldownmenu">
                <li><a href="#">店内備品</a></li>
                <li class="pullLink"><a href="#" class="parent_b">包装</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li class="pullLink"><a href="#" class="parent_b">販促物</a>
                    <ul class="pullBox">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li><a href="#">制服</a></li>
                <li><a href="#">電化製品</a></li>
            </ul>
        </li>
        <li class="parent"><a href="#" class="parent_a">その他の商品</a>
            <ul class="pulldownmenu">
                <li><a href="#">店内備品</a></li>
                <li class="pullLink"><a href="#" class="parent_b">包装</a>
                    <ul class="pullIn">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li class="pullLink"><a href="#" class="parent_b">販促物</a>
                    <ul class="pullIn">
                        <li><a href="#">オーピーパック</a></li>
                        <li><a href="#">手書きPOP</a></li>
                    </ul>
                </li>
                <li><a href="#">制服</a></li>
                <li><a href="#">電化製品</a></li>
            </ul>
        </li>
    </ul>
</nav><!-- /#gNavi -->

<div class="naviSp visibleTS">
    <ul class="naviList clearfix">
        <li class="navbarToggle hlg01" data-target=".navbarCollapse"><span class="txt01">カテゴリ</span></li>
        <li class="hlg01"><a href="#"><span class="txt02"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/menu_favor.png" alt=""></span><span class="txt03">お気に入り</span></a></li>
        <li class="hlg01"><a href="#"><span class="txt02"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/menu_cart.png" alt=""></span><span class="txt03">カート</span></a></li>
        <li class="hlg01"><a href="#"><span class="txt02"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/menu_order.png" alt=""></span><span class="txt03">ご注文履歴</span></a></li>
        <li class="navInst hlg01" data-target=".customBox"><span class="txt01">カスタマイズ</span></li>
    </ul>


    <nav class="navbarCollapse">
        <div class="navbarPanel">
            <p class="navbarTit">用度品・備品</p>
            <div class="navbarBox">
                <p class="navbarTxt"><a href="#">店内備品</a></p>
                <p class="navbarTxt navpullDown">包装</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt navpullDown">販促物</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt"><a href="#">制服</a></p>
                <p class="navbarTxt"><a href="#">電化製品</a></p>
            </div>
        </div>
        <div class="navbarPanel">
            <p class="navbarTit">調整備品</p>
            <div class="navbarBox">
                <p class="navbarTxt"><a href="#">店内備品</a></p>
                <p class="navbarTxt navpullDown">包装</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt navpullDown">販促物</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt"><a href="#">制服</a></p>
                <p class="navbarTxt"><a href="#">電化製品</a></p>
            </div>
        </div>
        <div class="navbarPanel">
            <p class="navbarTit">ポリ袋</p>
            <div class="navbarBox">
                <p class="navbarTxt"><a href="#">店内備品</a></p>
                <p class="navbarTxt navpullDown">包装</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt navpullDown">販促物</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt"><a href="#">制服</a></p>
                <p class="navbarTxt"><a href="#">電化製品</a></p>
            </div>
        </div>
        <div class="navbarPanel">
            <p class="navbarTit">縫製品</p>
            <div class="navbarBox">
                <p class="navbarTxt"><a href="#">店内備品</a></p>
                <p class="navbarTxt navpullDown">包装</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt navpullDown">販促物</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt"><a href="#">制服</a></p>
                <p class="navbarTxt"><a href="#">電化製品</a></p>
            </div>
        </div>
        <div class="navbarPanel">
            <p class="navbarTit">紙袋</p>
            <div class="navbarBox">
                <p class="navbarTxt"><a href="#">店内備品</a></p>
                <p class="navbarTxt navpullDown">包装</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt navpullDown">販促物</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt"><a href="#">制服</a></p>
                <p class="navbarTxt"><a href="#">電化製品</a></p>
            </div>
        </div>
        <div class="navbarPanel">
            <p class="navbarTit">オーダー商品</p>
            <div class="navbarBox">
                <p class="navbarTxt"><a href="#">店内備品</a></p>
                <p class="navbarTxt navpullDown">包装</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt navpullDown">販促物</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt"><a href="#">制服</a></p>
                <p class="navbarTxt"><a href="#">電化製品</a></p>
            </div>
        </div>
        <div class="navbarPanel">
            <p class="navbarTit">その他の商品</p>
            <div class="navbarBox">
                <p class="navbarTxt"><a href="#">店内備品</a></p>
                <p class="navbarTxt navpullDown">包装</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt navpullDown">販促物</p>
                <div class="navbarLink">
                    <p><a href="#">オーピーパック</a></p>
                    <p><a href="#">手書きPOP</a></p>
                </div>
                <p class="navbarTxt"><a href="#">制服</a></p>
                <p class="navbarTxt"><a href="#">電化製品</a></p>
            </div>
        </div>
    </nav>


    <div class="customBox">
        <div class="customIn">
            <ul class="customList">
                <li>
                    <p class="customTit">Type A</p>
                    <p class="customImg"><a href="index_a.html" class="active"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/img_type_a_sp.png" alt=""></a></p>
                </li>
                <li>
                    <p class="customTit">Type B</p>
                    <p class="customImg"><a href="index_b.html"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/img_type_b_sp.png" alt=""></a></p>
                </li>
                <li>
                    <p class="customTit">Type C</p>
                    <p class="customImg"><a href="index_c.html"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/img_type_c_sp.png" alt=""></a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
