<div id="headerLinks">
    <p class="headerSubNavi"><a href="{{url('help_guide')}}#delivery">配送について</a><a href="{{url('help_guide')}}#payment">お支払について</a><a href="{{url('mypage_change')}}">メールマガジン登録</a></p>
    <nav id="gNavi">
        <ul class="clearfix">
            <li id="gNav01"><a href="{{url('index')}}"><span>HOME</span></a></li>
            <li id="gNav02"><a href="{{url('index')}}#news_area"><span>お知らせ</span></a></li>
            <li id="gNav03"><a href="{{url('product_list')}}"><span>商品一覧</span></a></li>
            <li id="gNav04"><a href="{{url('help_guide')}}"><span>ご利用ガイド</span></a></li>
            <li id="gNav05"><a href="{{url('mypage')}}"><span>マイページ</span></a></li>
            <li id="gNav06"><a href="{{url('contact')}}"><span>お問い合わせ</span></a></li>
        </ul>
    </nav>
</div>