{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div id="headerCustomer">
{% if is_granted('ROLE_USER') %}
<p>ようこそ {{ app.user.name01 }} {{ app.user.name02 }}様</p>
{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<select name="mypagemenu" onchange="location = this.value;">
    <option {% if currentPath == path('mypage') %}selected=selected{% endif %} value="{{ url('mypage') }}">ご注文履歴</option>
    <option {% if currentPath == path('mypage_favorite') %}selected=selected{% endif %} value="{{ url('mypage_favorite') }}">お気に入り一覧</option>
    <option {% if currentPath == path('mypage_change') %}selected=selected{% endif %} value="{{ url('mypage_change') }}">会員情報編集</option>
    <option {% if currentPath == path('mypage_delivery') %}selected=selected{% endif %} value="{{ url('mypage_delivery') }}">お届け先編集</option>
    <!-- <option><a href="{{ url('mypage_withdraw') }}">退会手続き</a></option> -->
    <option value="{{ url('logout') }}">ログアウト</option>
    </select>
{% else %}
<p>ようこそ ゲスト様</p>
<p class="member_link">
    <a href="{{ url('mypage_login') }}">
        <svg class="cb cb-lock-circle"><use xlink:href="#cb-lock-circle" /></svg>ログイン
    </a>
</p>
{% endif %}
</div>
