{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div id="search_category">
<h2 class="hdL">商品カテゴリーから探す</h2>
<div class="productCategoryList">
    <ul class="clearfix">
    {% for Category in categories %}
        <li>
            <div class="productCategoryItem">
                <p class="productImg"><a href="{{url('product_list', {'category_id': Category.id})}}"><img src="{{ app.config.image_save_urlpath }}/{{ Category.category_image|no_image_product }}"></a></p>
                <p class="productCategory">
                    <a href="{{url('product_list', {'category_id': Category.id})}}">{{Category.name}}<span>{{ Category.name_en }}</span></a>
                </p>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
</div>