{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<h2 class="hdL">商品カテゴリーから探す<span>search by category</span></h2>
<div class="productCategoryList">
    <ul class="clearfix">
        <li>
            <div class="productCategoryItem">
                <p class="productImg"><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/product/img_product_category01.jpg" alt=""></a></p>
                <p class="productCategory"><a href="#">新商品<span>new item</span></a></p>
            </div>
        </li>
        <li>
            <div class="productCategoryItem">
                <p class="productImg"><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/product/img_product_category02.jpg" alt=""></a></p>
                <p class="productCategory"><a href="#">ティシューパーパー<span>tissue paper</span></a></p>
            </div>
        </li>
        <li>
            <div class="productCategoryItem">
                <p class="productImg"><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/product/img_product_category03.jpg" alt=""></a></p>
                <p class="productCategory"><a href="#">トイレットロール<span>toilet roll</span></a></p>
            </div>
        </li>
        <li>
            <div class="productCategoryItem">
                <p class="productImg"><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/product/img_product_category04.jpg" alt=""></a></p>
                <p class="productCategory"><a href="#">大人用紙おむつ<span>adult diaper</span></a></p>
            </div>
        </li>
        <li>
            <div class="productCategoryItem">
                <p class="productImg"><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/product/img_product_category05.jpg" alt=""></a></p>
                <p class="productCategory"><a href="#">ウエットティシュー<span>wet wipe</span></a></p>
            </div>
        </li>
        <li>
            <div class="productCategoryItem">
                <p class="productImg"><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/product/img_product_category06.jpg" alt=""></a></p>
                <p class="productCategory"><a href="#">キッチンタオル<span>kitchen towel</span></a></p>
            </div>
        </li>
        <li>
            <div class="productCategoryItem">
                <p class="productImg"><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/product/img_product_category07.jpg" alt=""></a></p>
                <p class="productCategory"><a href="#">尿ケア用品<span>urine care</span></a></p>
            </div>
        </li>
        <li>
            <div class="productCategoryItem">
                <p class="productImg"><a href="#"><img src="{{ app.config.front_urlpath }}/ellemoi/img/product/img_product_category08.jpg" alt=""></a></p>
                <p class="productCategory"><a href="#">業務用品<span>Business Products</span></a></p>
            </div>
        </li>
    </ul>
</div>
