{% if products|length > 0 %}
<h2 class="hdL">おすすめ商品<span>recommended item</span></h2>
<div class="productList">
<ul class="clearfix">
{% for Product in products %}
	<li>
		<div class="productItem biggerlink icoNew">
			<p class="productImg"><a href="{{url('product_detail', {'id': Product.id})}}"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}"></a></p>
			<div class="productItemBox">
				<p class="hlg01">{{Product.name}}</p>
				{% if Product.hasProductClass %}
	                {% if Product.getPrice02Min == Product.getPrice02Max %}
	                    <p id="result_list__price02_inc_tax--{{ Product.id }}"
	                        class="productPrice">
	                        {{ Product.getPrice02IncTaxMin|price }}
	                    </p>
	                {% else %}
	                    <p id="result_list__price02_inc_tax--{{ Product.id }}"
	                        class="productPrice">
	                        {{ Product.getPrice02IncTaxMin|price }}
	                        ～ {{ Product.getPrice02IncTaxMax|price }}
	                    </p>
	                {% endif %}
	            {% else %}
	                <p id="result_list__price02_inc_tax--{{ Product.id }}"
	                    class="productPrice">{{ Product.getPrice02IncTaxMin|price }}
	                </p>
	            {% endif %}
			</div>
		</div>
	</li>
{% endfor %}
</ul>
</div>
{% endif %}