{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}
{% set bihin_contents = 'productWrap innerNone' %}
{% block main_title %}
    <p class="productTit">{{ breadcrumb }}</p>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function(){
            var cate_child = $.parseJSON('{{ cate_child|json_encode|raw }}');
            var cate_grandson = $.parseJSON('{{ cate_grandson|json_encode|raw }}');
            var cate_grandson_4 = $.parseJSON('{{ cate_grandson_4|json_encode|raw }}');
            var cate_grandson_5 = $.parseJSON('{{ cate_grandson_5|json_encode|raw }}');
            var cate_path = $.parseJSON('{{ cate_path|json_encode|raw }}');

            $('#cate_parent').change(function () {
                //Reset child + grandson
                $("#cate_child option:eq(0)").attr('selected', 'selected');
                $("#cate_child").parent(".selectWrap").find(".customSelectInner").text('指定ない');
                $("#cate_child").html("<option value=''>指定ない</option>");

                $("#cate_grandson option:eq(0)").attr('selected', 'selected');
                $("#cate_grandson").parent(".selectWrap").find(".customSelectInner").text('指定ない');
                $("#cate_grandson").html("<option value=''>指定ない</option>");
                var pid = $(this).val();
                // Set to search form
                $("#form1 #category_id").val(pid);
                // Set child
                if (cate_child[pid] != "undefined") {
                    $(cate_child[pid]).each(function (key, value) {
                        var html = '<option value="' + value.id + '">' + value.name + '</option>';
                        if ($.inArray(value.id, cate_path) != -1) {
                            html = '<option value="' + value.id + '" selected="selected">' + value.name + '</option>';
                            $("#cate_child").append(html);
                            $("#cate_child").val(value.id).trigger('change');
                        } else {
                            $("#cate_child").append(html);
                        }

                    });
                }
            });

            $('#cate_child').change(function () {
                // Reset grandson
                $("#cate_grandson option:eq(0)").attr('selected', 'selected');
                var $cateGrandson = $("#cate_grandson");
                $cateGrandson.parent(".selectWrap").find(".customSelectInner").text('指定ない');
                $cateGrandson.html("<option value=''>指定ない</option>");

                var cid = $(this).val();
                // Set to search form
                $("#form1 #category_id").val(cid);
                // Set child
                if (cate_grandson[cid] != "undefined") {
                    $(cate_grandson[cid]).each(function (key, value) {
                        var html = '<option value="' + value.id + '">' + value.name + '</option>';
                        if ($.inArray(value.id, cate_path) != -1) {
                            html = '<option value="' + value.id + '" selected="selected">' + value.name + '</option>';
                            $cateGrandson.append(html);
                            $cateGrandson.val(value.id).trigger('change');
                        } else {
                            $cateGrandson.append(html);
                        }
                    });
                }
            });

            $('#cate_grandson').change(function () {
                // Reset grandson
                $("#cate_grandson_4 option:eq(0)").attr('selected', 'selected');
                var $cateGrandson_4 = $("#cate_grandson_4");
                $cateGrandson_4.parent(".selectWrap").find(".customSelectInner").text('指定ない');
                $cateGrandson_4.html("<option value=''>指定ない</option>");

                var cid = $(this).val();
                // Set to search form
                $("#form1 #category_id").val(cid);
                // Set child
                if (cate_grandson_4[cid] != "undefined") {
                    $(cate_grandson_4[cid]).each(function (key, value) {
                        var html = '<option value="' + value.id + '">' + value.name + '</option>';
                        if ($.inArray(value.id, cate_path) != -1) {
                            html = '<option value="' + value.id + '" selected="selected">' + value.name + '</option>';
                            $cateGrandson_4.append(html);
                            $cateGrandson_4.val(value.id).trigger('change');
                        } else {
                            $cateGrandson_4.append(html);
                        }
                    });
                }
            });

            {% if app.config.category_nest_level >= 4 %}
            $('#cate_grandson_4').change(function () {
                // Reset grandson
                $("#cate_grandson_5 option:eq(0)").attr('selected', 'selected');
                var $cateGrandson_5 = $("#cate_grandson_5");
                $cateGrandson_5.parent(".selectWrap").find(".customSelectInner").text('指定ない');
                $cateGrandson_5.html("<option value=''>指定ない</option>");

                var cid = $(this).val();
                // Set to search form
                $("#form1 #category_id").val(cid);
                // Set child
                if (cate_grandson_5[cid] != "undefined") {
                    $(cate_grandson_5[cid]).each(function (key, value) {
                        var html = '<option value="' + value.id + '">' + value.name + '</option>';
                        if ($.inArray(value.id, cate_path) != -1) {
                            html = '<option value="' + value.id + '" selected="selected">' + value.name + '</option>';
                            $cateGrandson_5.append(html);
                            $cateGrandson_5.val(value.id).trigger('change');
                        } else {
                            $cateGrandson_5.append(html);
                        }
                    });
                }
            });
            {% endif %}

            {% if app.config.category_nest_level >= 5 %}

            $('#cate_grandson_5').change(function () {
                var cid = $(this).val();
                // Set to search form
                $("#form1 #category_id").val(cid);
            });
            {% endif %}

            // init data
            var cate_id = '{{ category_id }}';
            if (cate_id) {
                $('#cate_parent').trigger('change');
                $("#searchform").find("select").val(cate_id).trigger("change");
            }

            // 商品表示BOXの高さを揃える
            // $(window).load(function() {
            //     $('.product_item').matchHeight();
            // });
            var url = location.href;

            $('#radio01').click(function() {
                if($('#product_img').css('display')==='block'){
                    return false;
                }else{
                    if (url.search('&list=') == -1) {
                        window.history.pushState({url: url + '&list=0'}, '', url + '&list=0');
                    }

                    $('.productInNavi .boxBeta a, .productPageNavi span a').each(function (index, item) {
                        var urlTmp = $(this).attr('href');
                        if (urlTmp.search('&list=') == -1) {
                            $(this).attr('href', urlTmp + '&list=0');
                        } else {
                            $(this).attr('href', urlTmp.replace('&list=1', '&list=0'));
                        }
                    });

                    $('#product_list').css('display','none');
                    $('#product_img').css('display','block');
                }
            });
            $('#radio02').click(function() {
                if($('#product_list').css('display')==='block'){
                    return false;
                } else {
                    if (url.search('&list=') == -1) {
                        window.history.pushState({url: url + '&list=1'}, '', url + '&list=1');
                    }

                    $('.productInNavi .boxBeta a, .productPageNavi span a').each(function (index, item) {
                        var urlTmp = $(this).attr('href');
                        if (urlTmp.search('&list=') == -1) {
                            $(this).attr('href', urlTmp + '&list=1');
                        } else {
                            $(this).attr('href', urlTmp.replace('&list=0', '&list=1'));
                        }
                    });

                    $('#product_img').css('display','none');
                    $('#product_list').css('display','block');
                }
            });

            $('.productViewBox a').click(function(){
                var _id = $(this).attr('href');
                $('.productViewBox a').removeClass('on');
                $(this).addClass('on');
                $('.tabBox').hide();
                $(_id).show();
                return false;
            });

            $('.proSearBtn').click(function (e) {
                e.preventDefault();
                $('input[name="recommend[\]"]:checked').each(function () {
                    var html = '<input type="hidden" name="recommend_id[]" value="'+$(this).val()+'"/>';
                    $('#form1').append(html);
                });

                $('#form1').submit();
            });

            if ('{{ app.request.get('list') }}' == '1') {
                $('#radio02').trigger('click');
            }
        });
    </script>
{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        .productList02 a img {
            width: 164px !important;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="innerNone">
        <div class="clearfix">
            <div class="productMain">
                <div class="productTop visiblePC">
                    <ul class="productTopList">
                        <li>
                            <p class="productAllTit">商品は全部で<span class="tit">{{ pagination.totalItemCount|number_format }}</span>件あります</p>
                        </li>
                        <li>
                            <div class="productTab">
                                <label for="radio01">
                                    <span class="input"><input type="radio" id="radio01" name="radio" class="productRadio" checked></span><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/ico_imges.png" alt="">画像
                                </label>
                                <label for="radio02">
                                    <span class="input"><input type="radio" id="radio02" name="radio" class="productRadio"></span><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/ico_list.png" alt="">リスト
                                </label>
                            </div>
                        </li>
                        {#Sub pagination#}
                        <li>
                            {# Sub pagination start #}
                            {% set pages = pagination.paginationData %}
                            {% if app.config.pageinrange  is defined %}
                                {% set pageinrange  = app.config.pageinrange %}
                            {% else  %}
                                {% set pageinrange  = false %}
                            {% endif %}
                            {% if pages.pageCount > 1 %}
                                <p class="productPageNavi">
                                    {% if pageinrange and pages.firstPageInRange != 1 %}
                                        {% set page_num = pages.previous - 5 %}
                                        {% if page_num <= 1 %}
                                            {% set page_num = 1 %}
                                        {% endif %}
                                        <span class="navi">
                                                <a class="link01" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pageno': page_num})) }}"
                                                   aria-label="Previous"><span aria-hidden="true">過去5件</span></a>
                                            </span>
                                    {% endif %}

                                    {% if pageinrange and pages.firstPageInRange != 1 %}
                                        <span class="navi">...</span>
                                    {% endif %}

                                    {% for page in pages.pagesInRange %}
                                        <span class="navi">
                                    {% if page == pages.current %}
                                        <a class="link01 on" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pageno': page})) }}"> {{ page }} </a>
                                    {% else %}
                                        <a class="link01" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pageno': page})) }}"> {{ page }} </a>
                                    {% endif %}
                                    </span>
                                    {% endfor %}

                                    {% if pageinrange and pages.last != pages.lastPageInRange %}
                                        <span class="navi">...</span>
                                    {% endif %}

                                    {% if pageinrange and pages.last != pages.lastPageInRange %}
                                        {% set page_num = pages.current + 5 %}
                                        {% if page_num > pages.last %}
                                            {% set page_num = pages.last %}
                                        {% endif %}
                                        <span class="navi">
                                    <a class="link02" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pageno': page_num})) }}"
                                       aria-label="Last"><span aria-hidden="true">次の5件</span></a>
                                    </span>
                                    {% endif %}
                                </p>
                            {% endif %}
                            {# Sub pagination end #}
                        </li>
                    </ul>
                </div>
                <div class="productSearch visiblePC">
                    <form name="form1" id="form1" method="post" action="?">
                        {{ form_widget(search_form.mode) }}
                        {{ form_widget(search_form.category_id) }}
                        <table class="proSearTable">
                            <tr>
                                <th><span class="maru">●</span>商品カテゴリー</th>
                                <td>
                                    <ul class="categoryList clearfix">
                                        <li>
                                            <div class="selectWrap">
                                                <select class="customSelect" id="cate_parent">
                                                    <option value=''>指定ない</option>
                                                    {% for Category in cate %}
                                                        <option value="{{ Category.id }}" {% if Category.id in cate_path %}selected="selected"{% endif %}>{{ Category.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="selectWrap">
                                                <select class="customSelect" id="cate_child">
                                                    <option>指定ない</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="selectWrap">
                                                <select class="customSelect" id="cate_grandson">
                                                    <option>指定ない</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                    {% if app.config.category_nest_level >= 4 %}
                                        <ul class="categoryList clearfix">
                                            <li>
                                                <div class="selectWrap">
                                                    <select class="customSelect" id="cate_grandson_4">
                                                        <option>指定ない</option>
                                                    </select>
                                                </div>
                                            </li>
                                            {% if app.config.category_nest_level >= 5 %}
                                                <li>
                                                    <div class="selectWrap">
                                                        <select class="customSelect" id="cate_grandson_5">
                                                            <option>指定ない</option>
                                                        </select>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th><span class="maru">●</span>価格</th>
                                <td>
                                    <ul class="priceList">
                                        <li>
                                            <div class="selectWrap">
                                                {{ form_widget(search_form.price_range_from, {attr: {'class': 'customSelect'}}) }}
                                                円(税込)～
                                            </div>

                                        </li>
                                        <li>
                                            <div class="selectWrap">
                                                {{ form_widget(search_form.price_range_to, {attr: {'class': 'customSelect'}}) }}
                                                円(税込)
                                            </div>

                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th><span class="maru">●</span>おすすめ</th>
                                <td>
                                    <ul class="recomList">
                                        {% for key, rec in recommend %}
                                            <li>
                                                <label for="recommend_{{ key }}">
                                                <span class="checkbox">
                                                    <input id="recommend_{{ key }}" type="checkbox" name="recommend[]" value="{{ key }}" {% if key in search_form.recommend_id.vars.value %}checked{% endif %}/>
                                                </span>
                                                    <img src="{{ app.config.front_urlpath }}/bihin-com/img/product/ico_prorecom0{{ loop.index }}.png" alt="">{{ rec }}
                                                </label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </table>

                        <div class="proSearBox clearfix">
                            <div class="proSearIn01">
                                <ul class="proSearList clearfix">
                                    <li>
                                        <div class="selectWrap">
                                            <select class="customSelect">
                                                <option>すべて</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        {{ form_widget(search_form.name, {attr: {'class': 'proSearTxt'}}) }}
                                    </li>
                                    <li>
                                        <input type="submit" class="proSearBtn" value="">
                                    </li>
                                </ul>
                            </div>
                            <div class="proSearIn02">
                                <div class="proConv" data-target=".proConvBox"><span class="search">便利な検索</span>
                                    <div class="proConvBox">
                                        <ul class="proConvList">
                                            <li><a href="{{ url('product_list', {'fast_search': 1}) }}">注文履歴から探す</a></li>
                                            <li><a href="{{ url('product_list', {'fast_search': 2}) }}">お気に入り商品から探す</a></li>
                                            <li><a href="{{ url('product_list', {'fast_search': 3}) }}">おすすめ商品から探す</a></li>
                                            <li><a href="{{ url('product_list', {'fast_search': 4}) }}">お悩みから探す</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="productLabel visiblePC">
                    <p class="proLableTit"><span class="tit">絞り込むタグを追加</span></p>
                    <p class="proLable">
                        {% for tag in tags %}
                            <a href="{{ url('product_list', {'tag_id': tag.id}) }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
                <div class="visibleTS">
                    <div class="productCond">
                        <p class="productCondBtn">条件で絞り込む</p>
                        <div class="productCondBox">
                            <ul class="productCondList clearfix">
                                <li><a href="#">カテゴリー</a></li>
                                <li><a href="#">スベック</a></li>
                                <li><a href="#">価格・メーカー名</a></li>
                                <li><a href="#">お届け日・他</a></li>
                            </ul>
                            <p class="productCondTxt">選択中の絞り込み条件</p>
                            <p class="productCondRele"><a href="#">全ての絞込みを解除</a></p>
                        </div>
                    </div>
                </div>
                <div class="visibleTS">
                    <div class="productView clearfix">
                        <p class="productAllTit">商品は全部で<span class="tit">{{ pagination.totalItemCount|number_format }}</span>件あります</p>
                        <div class="productViewBox">
                            <p class="img"><a href="#product_img" class="on">img</a></p>
                            <p class="list"><a href="#product_list">list</a></p>
                        </div>
                    </div>
                </div>

                {% if pagination|length > 0 %}
                    <div class="productIn">
                        <div class="productIn_img tabBox" id="product_img">
                            <ul class="productList01 clearfix">
                                {% for Product in pagination %}
                                    <li>
                                        <div class="productBox">
                                            <div class="biggerlink">
                                                <p class="productImg"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=""></p>
                                                <p class="hlg01 productName01"><a href="{{ url('product_detail', {'id': Product.id}) }}">{{ Product.name }}</a></p>
                                            </div>
                                            {% if Product.getCodeMin %}

                                            {% endif %}
                                            <p class="productPrice01">
                                                {% if Product.stock_find %}
                                                    <span class="txt01 visibleTS">販売価格：</span>
                                                    <span class="txt02">{{ Product.getPrice02IncTaxMin|price }}</span>
                                                {% else %}
                                                    <span class="txt02">ASK</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="productIn_list tabBox" id="product_list">
                            <ul class="productList02">
                                {% for Product in pagination %}
                                    <li>
                                        <div class="productBox">
                                            <dl class="clearfix">
                                                <dt><a href="{{ url('product_detail', {'id': Product.id}) }}"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=""></a></dt>
                                                <dd>
                                                    <p class="productName02"><a href="{{ url('product_detail', {'id': Product.id}) }}">{{ Product.name }}</a></p>
                                                    {% if Product.getCodeMin %}

                                                    {% endif %}
                                                    <p class="productPrice02">
                                                        {% if Product.stock_find %}
                                                            販売価格：<span class="txt">{{ Product.getPrice02IncTaxMin|price }}</span>
                                                        {% else %}
                                                            <span class="txt">ASK</span>
                                                        {% endif %}
                                                    </p>
                                                    <p class="productDesc">{{ Product.description_list|raw|nl2br }}</p>
                                                </dd>
                                            </dl>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="productInNavi">
                        {% if pagination.totalItemCount > 0 %}
                            {% include "pagination.twig" with { 'pages' : pagination.paginationData } %}
                        {% endif %}
                    </div>
                    <!-- ▲item_list▲ -->
                {% else %}
                    <div class="productLabel" style="margin-bottom: 50px;">
                        <p class="errormsg text-danger">ご指定のカテゴリは存在しません。</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
