{#
 This file is part of the Related Product plugin

 Copyright(c) 2000-2016 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

<div class="visiblePC">
    <p class="detialTit">関連商品</p>
    <ul class="proDetailList01 clearfix">
        {% for RelatedProduct in RelatedProducts %}
        <li>
            <div class="proDetailPanel">
                <div class="biggerlink">
                    <p><img src="{{ app.config.image_save_urlpath }}/{{ RelatedProduct.ChildProduct.main_list_image|no_image_product }}" alt=""></p>
                    <p class="hlg01 tit"><a href="{{ url('product_detail', {id : RelatedProduct.ChildProduct.id}) }}">{{ RelatedProduct.ChildProduct.name }}</a></p>
                </div>
                <p>型番：{{ RelatedProduct.ChildProduct.getCodeMin }}</p>
                <p class="price"><span class="txt">{{ RelatedProduct.ChildProduct.getPrice02Min|price }}〜</span></p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="visibleTS">
    <p class="detialTit detailTit01">関連商品</p>
    <div class="pageScroll">
        <ul class="proDetailList01 clearfix">
            {% for RelatedProduct in RelatedProducts %}
            <li>
                <div class="proDetailPanel biggerlink">
                    <p><img src="{{ app.config.image_save_urlpath }}/{{ RelatedProduct.ChildProduct.main_list_image|no_image_product }}" alt=""></p>
                    <p class="hlg01 tit"><a href="{{ url('product_detail', {id : RelatedProduct.ChildProduct.id}) }}">{{ RelatedProduct.ChildProduct.name }}</a></p>
                    <p>型番：{{ RelatedProduct.ChildProduct.getCodeMin }}</p>
                    <p class="price"><span class="txt">{{ RelatedProduct.ChildProduct.getPrice02Min|price }}〜</span></p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
