<div class="topTypeB">
    <div class="topTypeIn">
        <ul class="topTypebLink clearfix">
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
            <li><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink02.png" alt=""></a></li>
        </ul>
    </div>
</div>