<p class="pageTop"><a href="{{ url('index') }}">TOPへ戻る</a></p>
<div id="bihin_footer">
	<div class="footerLink">
		<div class="ftInner">
			<ul class="ftLinkList clearfix visiblePC">
				<li>
					<div class="ftLinkBox">
						<p class="ftLinkTit">備品.com について</p>
						<p class="ftLinkTxt"><a href="{{ url('help_recommend') }}">備品.comとは</a></p>
						<p class="ftLinkTxt"><a href="{{ url('product_list') }}">特集一覧</a></p>
						<p class="ftLinkTxt"><a href="{{ url('product_list') }}">カテゴリー一覧</a></p>
					</div>
				</li>
				<li>
					<div class="ftLinkBox">
						<p class="ftLinkTit">ご利用ガイド</p>
						<p class="ftLinkTxt"><a href="{{ url('help_guide') }}">初めての方へ</a></p>
						<p class="ftLinkTxt"><a href="{{ url('help_tradelaw') }}">注文について</a></p>
						<p class="ftLinkTxt"><a href="{{ url('help_tradelaw') }}">お届けについて</a></p>
						<p class="ftLinkTxt"><a href="{{ url('help_tradelaw') }}">お支払いについて</a></p>
						<p class="ftLinkTxt"><a href="{{ url('help_tradelaw') }}">返品・交換について</a></p>
						<p class="ftLinkTxt"><a href="{{ url('contact') }}">ヘルプ・お問い合わせ</a></p>
					</div>
				</li>
				<li>
					<div class="ftLinkBox">
						<p class="ftLinkTit">当サイトについて</p>
						<p class="ftLinkTxt"><a href="{{ url('help_about') }}">サイトマップ</a></p>
						<p class="ftLinkTxt"><a href="{{ url('help_agreement') }}">ご利用規約</a></p>
						<p class="ftLinkTxt"><a href="{{ url('help_privacy') }}">プライバシーポリシー</a></p>
						<p class="ftLinkTxt"><a href="{{ url('help_privacy') }}">ご利用環境について</a></p>
						<p class="ftLinkTxt"><a href="{{ url('help_privacy') }}">ご利用上の注意</a></p>
					</div>
				</li>
				<li>
					<div class="ftLinkBox">
						<p class="ftLinkTit">運営会社に関して</p>
						<p class="ftLinkTxt"><a href="/kaisya/index.html">会社案内</a></p>
						<p class="ftLinkTxt"><a href="#">採用情報</a></p>
						<p class="ftLinkTxt"><a href="#">プレスリリース</a></p>
					</div>
				</li>
			</ul>
			<ul class="ftLinkList clearfix visibleTS">
				<li><a href="{{ url('help_recommend') }}">初めての方へ</a></li>
				<li><a href="{{ url('help_tradelaw') }}">お支払いについて</a></li>
				<li><a href="{{ url('help_tradelaw') }}">注文について</a></li>
				<li><a href="{{ url('help_tradelaw') }}">返品・交換について</a></li>
				<li><a href="{{ url('help_tradelaw') }}">お届けについて</a></li>
				<li><a href="{{ url('contact') }}">ヘルプ・お問い合わせ</a></li>
			</ul>
		</div>
	</div>
	<div class="ftBox">
		<p class="ftLogo visiblePC"><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/ft_logo.png" alt=""></p>
		<p class="pageLink visibleTS">
			<span class="link"><a href="/f/sitemap/index.html">サイトマップ</a></span>
			<span class="link"><a href="{{ url('help_about') }}">会社案内</a></span>
			<br><span class="link"><a href="{{ url('help_agreement') }}">ご利用規約</a></span>
			<span class="link"><a href="{{ url('help_privacy') }}">プライバシーポリシー</a></span>
			<span class="link"><a href="{{ url('help_privacy') }}">ご利用環境について</a></span>
			<span class="link"><a href="{{ url('help_privacy') }}">ご利用上の注意</a></span></p>
		<p id="copyright">Copyright &copy; 2015 備品.com All Rights Reserved.</p>
	</div>
</div><!-- /#footer -->