<div id="headerIn" class="clearfix">
	<h1 id="headerLogo"><a href="{{ url('index') }}">
        <img src="{{ app.config.front_urlpath }}/bihin-com/common/img/logo.png" alt=""></a>
    </h1>
	{% if is_granted('ROLE_USER') == false %}
		<ul class="hdLog visibleTS">
			<li><a href="{{ url('entry') }}" class="loginBtn01">会員登録</a></li>
			<li><a href="{{ url('mypage_login') }}" class="loginBtn02">ログイン</a></li>
		</ul>
	{% endif %}

	<div class="hdMain">
		<div class="visiblePC">
			<div class="hdmenu clearfix">
				<div class="customBtn">
					<p class="customLink">TOPページカスタマイズ</p>
					<div class="customBox">
						<div class="customIn">
                            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                            {% set currentPage = currentPath|split('/')|last %}
							{% if currentPage == url('homepage_b')|split('/')|last %}
								{% set active = 'index-b' %}
							{% elseif currentPage == url('homepage_c')|split('/')|last %}
                                {% set active = 'index-c' %}
							{% else %}
                                {% set active = 'index-a' %}
							{% endif %}
							<ul class="customList">
								<li>
									<p class="customTit">Type A</p>
									<p class="customImg"><a href="{{ url('homepage', {'is': 1}) }}" {% if active == 'index-a' %}class="active"{% endif %}><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/img_type_a.png" alt=""></a></p>
								</li>
								<li>
									<p class="customTit">Type B</p>
									<p class="customImg"><a href="{{ url('homepage_b', {'is': 1}) }}" {% if active == 'index-b' %}class="active"{% endif %}><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/img_type_b.png" alt=""></a></p>
								</li>
								<li>
									<p class="customTit">Type C</p>
									<p class="customImg"><a href="{{ url('homepage_c', {'is': 1}) }}" {% if active == 'index-c' %}class="active"{% endif %}><img src="{{ app.config.front_urlpath }}/bihin-com/common/img/img_type_c.png" alt=""></a></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<ul class="hdMemberLink">
					<li><a href="{{ url('mypage_login') }}">ログイン</a></li>
					<li><a href="{{ url('entry') }}">新規会員登録</a></li>
					<li><a href="{{ url('mypage') }}">マイページ</a></li>
					<li><a href="{{ url('mypage') }}">会員サービス</a></li>
					<li><a href="{{ url('contact') }}">ヘルプ・お問い合わせ</a></li>
				</ul>
			</div>

			<div class="hdPick">
				<dl class="pickLink clearfix">
					<dt>今週のピックアップ</dt>
					{% if keywords is defined and keywords is not empty %}
					<dd class="ftBox">
                        {% for keyword in keywords %}
							<span class="txt"><a href="{{ path('product_list') }}?category_id=&name={{ keyword }}">{{ keyword }}</a></span>
                        {% endfor %}
					</dd>
					{% endif %}
				</dl>
			</div>
		</div>
	</div>
</div><!-- /.headerIn -->