{% block main %}
<div class="topTypecMain">
    <ul class="topListC clearfix">
        <li>
            <div class="topPanel01 hlg01">
                <div class="hlg02 topTypecBox02">
                    <div class="topShop">
                        <p class="tit">備品.comでお買い物</p>
                        <p>ログインしてお買い物をお楽しみください</p>
                    </div>
                    <p class="topShopBtn01"><a href="#">ログイン</a></p>
                </div>
                <p class="typecLink01">始めてご利用ですが?<a href="#">新規登録はこちら</a></p>
            </div>
        </li>
        <li>
            <div class="topPanel01 hlg01">
                <div class="hlg02 topTypecBox02">
                    <p class="topTypecTit01">カテゴリー</p>
                    <div class="topTypecBox01">
                        <ul class="topTypecList clearfix">
                            <li><p class="biggerlink"><span class="txt"><a href="#"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_topsort01.png" alt=""></a></span><span class="txt01">用度品・備品</span></p></li>
                            <li><p class="biggerlink"><span class="txt"><a href="#"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_topsort02.png" alt=""></a></span><span class="txt01">調剤備品</span></p></li>
                            <li><p class="biggerlink"><span class="txt"><a href="#"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_topsort03.png" alt=""></a></span><span class="txt01">ポリ袋</span></p></li>
                            <li><p class="biggerlink"><span class="txt"><a href="#"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_topsort04.png" alt=""></a></span><span class="txt01">縫製品</span></p></li>
                        </ul>
                    </div>
                </div>
                <p class="typecLink02"><a href="#">すべてのカテゴリー</a></p>
            </div>
        </li>
        <li>
            <div class="topPanel01 hlg01">
                <div class="hlg02 topTypecBox02">
                    <p class="topTypecTit01">コンシェルジュ</p>
                    <div class="topTypecIn">
                        <p class="topConcImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_topconci.png" alt=""></p>
                        <p class="topConcTxt">お探しの商品はございましたか？<br>AIコンシェルジュがサポートいたします。</p>
                        <p class="topShopBtn02"><a href="#">コンシェルジュに相談する</a></p>
                    </div>
                </div>
                <p class="typecLink02"><a href="#">人気アイテムをチェック</a></p>
            </div>
        </li>
        <li>
            <div class="hlg01 clearfix topPanel04">
                <div class="topPanel02 topPanelLine hlg04">
                    <p class="topTypecTit02">便利な機能</p>
                    <p><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplogo01.png" alt=""></p>
                    <p class="link01"><a href="#">「だから備品.com」<br class="visibleTS">便利な機能のご紹介</a></p>
                    <p class="link02"><a href="#">今すぐチェック</a></p>
                </div>
                <div class="topPanel03 hlg04">
                    <p class="topTypecTit03">あなたにオススメ</p>
                    <dl class="clearfix">
                        <dt><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toprecom.png" alt=""></dt>
                        <dd class="visiblePC">￥3,588</dd>
                    </dl>
                    <p class="link03"><a href="#">もっと見る</a></p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}