<div class="productSide visiblePC">
    <div class="prodSideMain">
        <p class="prodSideTit prodSideBg01">売れ筋ランキング</p>
        <ul class="prodSideList clearfix">
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product01.jpg" alt=""></p>
                    <p class="tit"><a href="#">トイレットペーパー　オリジナル<br>トイレットロール　リサイクル１</a></p>
                    <p class="price"><span class="txt">￥308～</span>(税抜き)</p>
                    <p class="ico"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/ico_rank_1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product02.jpg" alt=""></p>
                    <p class="tit"><a href="#">キングジム　透明ポケットエコノ<br>ミータイプ　A4タテ</a></p>
                    <p class="price"><span class="txt">￥420～</span>(税抜き)</p>
                    <p class="ico"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/ico_rank_2.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product03.jpg" alt=""></p>
                    <p class="tit"><a href="#">コクヨ　キーホルダー型名札（片面表示用）</a></p>
                    <p class="price"><span class="txt">￥43～</span>(税抜き)</p>
                    <p class="ico"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/ico_rank_3.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product01.jpg" alt=""></p>
                    <p class="tit"><a href="#">トイレットペーパー　オリジナル<br>トイレットロール　リサイクル１</a></p>
                    <p class="price"><span class="txt">￥318～</span>(税抜き)</p>
                    <p class="ico"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/ico_rank_4.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product04.jpg" alt=""></p>
                    <p class="tit"><a href="#">サンケーキコム　ネームホルダー　両面タイプS</a></p>
                    <p class="price"><span class="txt">￥98～</span>(税抜き)</p>
                    <p class="ico"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/ico_rank_5.png" alt=""></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="prodSideMain">
        <p class="prodSideTit prodSideBg02">閲覧履歴からのおすすめ商品</p>
        <ul class="prodSideList clearfix">
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product01.jpg" alt=""></p>
                    <p class="tit"><a href="#">トイレットペーパー　オリジナル<br>トイレットロール　リサイクル１</a></p>
                    <p class="price"><span class="txt">￥308～</span>(税抜き)</p>
                </div>
            </li>
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product02.jpg" alt=""></p>
                    <p class="tit"><a href="#">キングジム　透明ポケットエコノ<br>ミータイプ　A4タテ</a></p>
                    <p class="price"><span class="txt">￥420～</span>(税抜き)</p>
                </div>
            </li>
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product03.jpg" alt=""></p>
                    <p class="tit"><a href="#">コクヨ　キーホルダー型名札（片面表示用）</a></p>
                    <p class="price"><span class="txt">￥43～</span>(税抜き)</p>
                </div>
            </li>
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product01.jpg" alt=""></p>
                    <p class="tit"><a href="#">トイレットペーパー　オリジナル<br>トイレットロール　リサイクル１</a></p>
                    <p class="price"><span class="txt">￥318～</span>(税抜き)</p>
                </div>
            </li>
            <li>
                <div class="prodSideBox biggerlink">
                    <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/product/img_product04.jpg" alt=""></p>
                    <p class="tit"><a href="#">サンケーキコム　ネームホルダー　両面タイプS</a></p>
                    <p class="price"><span class="txt">￥98～</span>(税抜き)</p>
                </div>
            </li>
        </ul>
    </div>
</div>