{% block javascript %}
	<script type="text/javascript">
		$(function(){
			$('.topShop_pc').bxSlider({
				mode: 'horizontal',
				speed: 800,
				pause: 5000,
				auto:true,
				controls:true,
				pager:false,
				minSlides: 4,
				maxSlides: 4,
				moveSlides: 1,
				slideWidth: 175,
				slideMargin:30
			});
		});
	</script>
{% endblock %}
<p class="topTit">閲覧履歴からのおすすめ商品</p>
<div class="topIn">
	<div class="topShopList">
		<div class="visiblePC">
			<ul class="topShop_pc">
				<li>
					<div class="biggerlink topShopBox">
						<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top01.jpg" alt=""></p>
						<p class="topShopTit"><a href="#">蛍光ポスター</a></p>
						<p class="topShopNote">型番：商品コード</p>
						<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
					</div>
				</li>
				<li>
					<div class="biggerlink topShopBox">
						<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top02.jpg" alt=""></p>
						<p class="topShopTit"><a href="#">フラワーラップ</a></p>
						<p class="topShopNote">型番：商品コード</p>
						<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
					</div>
				</li>
				<li>
					<div class="biggerlink topShopBox">
						<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top03.jpg" alt=""></p>
						<p class="topShopTit"><a href="#">手書きPOP</a></p>
						<p class="topShopNote">型番：商品コード</p>
						<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
					</div>
				</li>
				<li>
					<div class="biggerlink topShopBox">
						<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top04.jpg" alt=""></p>
						<p class="topShopTit"><a href="#">ロールポリ</a></p>
						<p class="topShopNote">型番：商品コード</p>
						<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="visibleTS">
			<div class="pageScroll">
				<ul class="topShop_sp">
					<li>
						<div class="biggerlink topShopBox">
							<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top01.jpg" alt=""></p>
							<p class="topShopTit"><a href="#">蛍光ポスター</a></p>
							<p class="topShopNote">型番：商品コード</p>
							<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
						</div>
					</li>
					<li>
						<div class="biggerlink topShopBox">
							<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top02.jpg" alt=""></p>
							<p class="topShopTit"><a href="#">フラワーラップ</a></p>
							<p class="topShopNote">型番：商品コード</p>
							<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
						</div>
					</li>
					<li>
						<div class="biggerlink topShopBox">
							<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top03.jpg" alt=""></p>
							<p class="topShopTit"><a href="#">手書きPOP</a></p>
							<p class="topShopNote">型番：商品コード</p>
							<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
						</div>
					</li>
					<li>
						<div class="biggerlink topShopBox">
							<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top04.jpg" alt=""></p>
							<p class="topShopTit"><a href="#">ロールポリ</a></p>
							<p class="topShopNote">型番：商品コード</p>
							<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
						</div>
					</li>
					<li>
						<div class="biggerlink topShopBox">
							<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top01.jpg" alt=""></p>
							<p class="topShopTit"><a href="#">蛍光ポスター</a></p>
							<p class="topShopNote">型番：商品コード</p>
							<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
						</div>
					</li>
					<li>
						<div class="biggerlink topShopBox">
							<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top02.jpg" alt=""></p>
							<p class="topShopTit"><a href="#">フラワーラップ</a></p>
							<p class="topShopNote">型番：商品コード</p>
							<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
						</div>
					</li>
					<li>
						<div class="biggerlink topShopBox">
							<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top03.jpg" alt=""></p>
							<p class="topShopTit"><a href="#">手書きPOP</a></p>
							<p class="topShopNote">型番：商品コード</p>
							<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
						</div>
					</li>
					<li>
						<div class="biggerlink topShopBox">
							<p class="topShopImg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_top04.jpg" alt=""></p>
							<p class="topShopTit"><a href="#">ロールポリ</a></p>
							<p class="topShopNote">型番：商品コード</p>
							<p class="topShopPrice"><span class="price">￥0000〜</span>（税抜き）</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<p class="visiblePC"><a href="#" class="op"><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplink01.png" alt=""></a></p>
</div>
