{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}
    <script>
        $(function() {
            $('#mainVisual .sliderFor').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                autoplay: true,
                asNavFor: '.sliderNav',
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: true,
                            dots: true
                        }
                    }
                ]
            });
            $('#mainVisual .sliderNav').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                asNavFor: '.sliderFor',
                arrows: true,
                focusOnSelect: true
            });
        });
    </script>
{% endblock %}
{% block stylesheet %}
    <style type="text/css">
        @media screen and (max-width: 959px) {
            .homeBannerList {
                padding-top: 13px;
            }
        }
    </style>
{% endblock %}
{% block main %}
    <input type="hidden" id="pageID" value="gNav01">
    {% if sliders|length > 0 %}
        <div id="mainVisual">
            <div class="slider sliderFor">
                {% for slider in sliders %}
                    <div>
                        {% if slider.link %}
                        <a href="{{ slider.link }}" {% if slider.target %}target="_blank"{% endif %}>
                        {% endif %}
                            <img src="{{ app.config.image_save_urlpath }}/{{ slider.file_name|no_image_product }}" class="visibleTP" alt="">
                            <img src="{{ app.config.image_save_urlpath }}/{{ slider.file_name|no_image_product }}" class="visibleSP" alt="">
                        {% if slider.link %}
                        </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="slider sliderNav">
                {% for slider in sliders %}
                    <div class="thumb">
                        <img src="{{ app.config.image_save_urlpath }}/{{ slider.file_name|no_image_product }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if banners|length > 0 %}
        <ul class="homeBannerList clearfix">
            {% for banner in banners %}
                {% if banner.big == constant('Eccube\\Entity\\Banner::IS_BIG') %}
                    <li class="wFull">
                        {% if banner.link %}
                        <a href="{{banner.link}}" class="op" {% if banner.target %}target="_blank"{% endif %}>
                        {% endif %}
                            <img src="{{ app.config.image_save_urlpath }}/{{ banner.file_name|no_image_product }}" class="visibleTP" alt=""><img src="{{ app.config.image_save_urlpath }}/{{ banner.file_name|no_image_product }}" class="visibleSP" alt="">
                        {% if banner.link %}
                        </a>
                        {% endif %}
                    </li>
                {% else %}
                    <li>
                        {% if banner.link %}
                        <a href="{{banner.link}}" class="op" {% if banner.target %}target="_blank"{% endif %}>
                            {% endif %}
                            <img src="{{ app.config.image_save_urlpath }}/{{ banner.file_name|no_image_product }}"/>
                        {% if banner.link %}
                        </a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
