{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}
{% set bihin_contents = ' ' %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ app.config.front_urlpath }}/bihin-com/common/js/slick_slider/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="{{ app.config.front_urlpath }}/bihin-com/common/js/slick_slider/slick.css">
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ app.config.front_urlpath }}/bihin-com/common/js/slick_slider/slick.js"></script>
    <script type="text/javascript" src="{{ app.config.front_urlpath }}/bihin-com/common/js/slick_slider/slide.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.responsive_pc').slick({
                dots: false,
                infinite: false,
                speed: 300,
                slidesToShow: 6,
                slidesToScroll: 6,
                autoplay: false,
                fade: false
            });
            $('.responsive_sp').slick({
                dots: false,
                infinite: false,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 3,
                autoplay: false,
                fade: false
            });
        });
        function addCart(_form) {
            _form.submit();
        }
    </script>
{% endblock %}

{% block main %}
    <style>
        .topProdBtn a {
            color: black;
        }
        .topProdBtn a:hover {
            text-decoration: none;
        }
    </style>
    <div class="topBg01" style="padding-bottom: 0px;">
        <div class="topLogo">
            <p><img src="{{ app.config.front_urlpath }}/bihin-com/img/top/img_toplogo01.png" alt=""></p>
        </div>
        <div class="topProdMain">
            <div class="visiblePC">
                {% if products is not empty %}
                    {% for line in products %}
                        {% if line.product|length > 0 %}
                            <div class="topProdPanel">
                                <p class="topProdTit">{{ line.name }}</p>
                                <div class="topProdBox">
                                    <div class="responsive_pc">
                                        {% for Product in line.product %}
                                            <form action="{{ url('cart_add') }}" method="post" name="form1">
                                                {% set ProductClass = Product.ProductClasses %}
                                                <input name="product_class_id" value="{{ ProductClass[0].id }}" type="hidden"/>
                                                <div>
                                                    <div class="topProdIn">
                                                        <p class="topProdImg">
                                                            <a href="{{ url('product_detail', {'id': Product.id}) }}"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=""></a>
                                                        </p>
                                                        <p class="topProdName">{{ Product.name }}</p>
                                                        <p class="topProdPrice"><span class="price">{{ ProductClass[0].getPrice02|price }}</span></p>
                                                        <div class="topProdQuan">
                                                            <span class="quan">数量</span>
                                                            <select id="quantity" name="quantity" required="required" >
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                            </select>
                                                        </div>
                                                        <p class="topProdBtn"><input type="button" onclick="addCart(this.form)" value="カゴに入れる"/></p>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="visibleTS">
                {% if products is not empty %}
                {% for line in products %}
                {% if line.product|length > 0 %}
                <div class="topProdPanel">
                    <p class="topProdTit">{{ line.name }}</p>
                    <div class="topProdInfo">
                        <div class="topProdBox">
                            <div class="responsive_sp">
                                {% for Product in line.product %}
                                <div>
                                    <div class="topProdIn biggerlink">
                                        <p class="topProdImg"><a href="{{ url('product_detail', {'id': Product.id}) }}"><img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}" alt=""></a></p>
                                        <p class="topProdName">{{ Product.name }}</p>
                                        <p class="topProdPrice"><span class="price">{{ Product.getPrice02Min|price }}</span></p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
