{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block javascript %}
{% endblock javascript %}

{% block main %}
    <div class="recommendWrap">
        <div class="inner">
            <div class="recomSection">
                <div class="recomFixt">
                    <p class="recomTit">備品.comへようこそ</p>
                    <div class="recomFixtBox">
                        <p class="visiblePC">ただ買い物をするだけの業務用備品通販サービスでなく、<br>「ラクに楽しく」をお買い物をしていただけるサイトとして<br>本サービスを2018年3月にリリースしました。<br>商品点数は1,000〜2,000アイテム。<br>店舗運営に欠かせない「備品」をすべて取り揃えられる<br>ラインナップを目指しています。</p>
                        <p class="visibleTS">ただ買い物をするだけの業務用備品通販サービスでなく、「ラクに楽しく」をお買い物をしていただけるサイトとして本サービスを2018年3月にリリースしました。</p>
                        <p class="visibleTS">商品点数は1,000〜2,000アイテム。<br>店舗運営に欠かせない「備品」をすべて取り揃えられるラインナップを目指しています。</p>
                    </div>
                    <p class="visibleTS"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/bg_recommend.png" alt=""></p>
                </div>
            </div>

            <div class="recomSection">
                <p class="recomTit">コンセプトは“ラクに楽しく”。</p>
                <p class="recomConceptTxt">今やネットで買い物するのは当たり前の世の中になり、誰でもラクに買い物ができるようになりました。<br>忙しいみなさまのために、できるだけ簡単でラクに買い物していただけるネットショップを目指します。<br>また、ただラクなだけではなく、そこに気づかいや工夫を加えることで少しでも楽しんでいただけるように。</p>
                <ul class="recomList01 clearfix">
                    <li>
                        <div class="recomConcBox">
                            <p class="recomimg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend01.png" alt=""></p>
                            <p class="tit">ストレスフリーな接客。</p>
                            <p>オンラインでつながっている時は、チャットですぐに質問やお問い合わせに対応返答させていただきます。 迅速な接客でお客様を待たせないことで、ストレスフリーな対応をさせていただきます。</p>
                            <p class="step"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/ico_recommend01.png" alt=""></p>
                        </div>
                    </li>
                    <li>
                        <div class="recomConcBox">
                            <p class="recomimg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend02.png" alt=""></p>
                            <p class="tit">商品が見やすく、探しやすい。</p>
                            <p>オンラインでつながっている時は、チャットですぐに質問やお問い合わせに対応返答させていただきます。 迅速な接客でお客様を待たせないことで、ストレスフリーな対応をさせていただきます。</p>
                            <p class="step"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/ico_recommend02.png" alt=""></p>
                        </div>
                    </li>
                    <li>
                        <div class="recomConcBox">
                            <p class="recomimg"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend03.png" alt=""></p>
                            <p class="tit">スマートフォンで楽々発注。</p>
                            <p>お忙しい皆様でも、移動中やちょっとした空き時間でもスマートフォンから注文することができるのはとても便利！<br>わざわざ足を運ぶ時間をかけることなく、ササッと買い物が完了です！</p>
                            <p class="step"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/ico_recommend03.png" alt=""></p>
                        </div>
                    </li>
                </ul>

            </div>



            <div class="recomSection">
                <p class="recomTit">登録ステップ</p>
                <p class="recomConceptTxt">備品.comでお買い物をするには会員登録（無料）が必要です。<br>いつも使っていただける会員様には、もっともっとラクに楽しく利用して欲しいから、これからもたくさんのラクに楽しくを提供していきたいと考えています。<br>登録は簡単３ステップでできます！</p>
                <ul class="recomList02 clearfix">
                    <li>
                        <div class="recomSetp">
                            <dl class="clearfix">
                                <dt><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend04.png" alt=""></dt>
                                <dd>
                                    <p class="recomSetpTit">必要項目の入力</p>
                                    <p>新規会員登録フォームで必要項目の入力をしてください。</p>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="recomSetp">
                            <dl class="clearfix">
                                <dt><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend04.png" alt=""></dt>
                                <dd>
                                    <p class="recomSetpTit">登録完了</p>
                                    <p>登録手続き完了後、「ご登録完了メール」が届きます。</p>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="recomSetp">
                            <dl class="clearfix">
                                <dt><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend04.png" alt=""></dt>
                                <dd>
                                    <p class="recomSetpTit">お買い物スタート！</p>
                                    <p>1,000〜2,000点の豊富な品揃え！<br>お買い物を“ラク”にお楽しみください！</p>
                                </dd>
                            </dl>
                        </div>
                    </li>
                </ul>
                <p class="recomBtn"><a href="{{ url('entry') }}">新規会員登録（無料）はこちら</a></p>
            </div>

            <div class="recomSection">
                <p class="recomTit recomTit01">会員様にも、もっともっと“ラク”に！</p>
                <ul class="recomList03 clearfix">
                    <li>
                        <div class="recomEasy hlg02">
                            <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend05.png" alt=""></p>
                            <p class="tit hlg03"><span class="txt">自分好みの<br class="visibleTS">レイアウトへ！</span></p>
                            <p class="hlg01">自分好みのレイアウトが可能になりました。</p>
                        </div>
                    </li>
                    <li>
                        <div class="recomEasy hlg02">
                            <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend06.png" alt=""></p>
                            <p class="tit hlg03"><span class="txt">配送先を<br class="visibleTS">複数指定OK！</span></p>
                            <p class="hlg01">配送先が複数指定できるから手間が省けて“ラク”に！</p>
                        </div>
                    </li>
                    <li>
                        <div class="recomEasy hlg02">
                            <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend07.png" alt=""></p>
                            <p class="tit hlg03"><span class="txt">検索機能が充実！</span></p>
                            <p class="hlg01">検索機能の充実で、欲しい商品に“ラク”にアクセスできます！</p>
                        </div>
                    </li>
                    <li>
                        <div class="recomEasy hlg02">
                            <p class="img"><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommend08.png" alt=""></p>
                            <p class="tit hlg03"><span class="txt">履歴で<br class="visibleTS">かんたん再注文！</span></p>
                            <p class="hlg01">前に注文した商品なら、このマークから簡単に再注文できます。</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="recomSection">
                <p class="recomTit visiblePC">お困りの方へ</p>
                <table class="recomTable visiblePC">
                    <tr>
                        <th>
                            <dl>
                                <dt><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommendpc.png" alt=""></dt>
                                <dd>インターネットからの<br>お問い合わせ</dd>
                            </dl>
                        </th>
                        <td><a href="{{ url('contact') }}" class="link">お問い合わせはこちら</a></td>
                    </tr>
                    <tr>
                        <th>
                            <dl>
                                <dt><img src="{{ app.config.front_urlpath }}/bihin-com/img/recommend/img_recommendsp.png" alt=""></dt>
                                <dd>お電話からのお問い合わせ</dd>
                            </dl>
                        </th>
                        <td>
                            <dl>
                                <dt>03-3526-5870</dt>
                                <dd>受付時間（月曜日～金曜日）： 10:00～18:00<br>土曜、日曜、祝祭日、夏期休業、年末年始はお休みさせていただきます。</dd>
                            </dl>
                        </td>
                    </tr>
                </table>

                <div class="visibleTS">
                    <div class="recomCont">
                        <p class="link01"><a href="{{ url('contact') }}">お問い合わせはこちら</a></p>
                        <p class="link02"><a href="tel:03-3526-5870">03-3526-5870</a></p>
                        <p class="recomContNote">受付時間（月曜日～金曜日）： 10:00～18:00<br>土曜、日曜、祝祭日、夏期休業、年末年始はお休みさせていただきます。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
